*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li{
  list-style: none;
}

/* HEADERS */
header .head{
  height: 7vh;
  background-color: rgb(45, 136, 255);
  color: aliceblue;
}

header .container{
  display: flex;
  justify-content: space-between;    align-items: center;
  padding: 1rem;
} 

header .head .menu{
  display: none;
}



@media (min-width:780px){
  
  header .head{
    height: 7vh;
    background-color: rgb(45, 136, 255);
    color: aliceblue;
    
  }

  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
  }

  header .container i{
    display: block;
  }

  header .head .menu{
    display: none;
  }
  
}

@media(min-width:860px){
  
  header .head{
    height: 7vh;
    background-color: rgb(45, 136, 255);
    color: aliceblue;
  }

  header .head .container i{
    display: none;
  }

  header .head .container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .container .menu{
    display: block;
  }

  header .container .menu ul{
    display: flex;
  }

  header .container .menu ul li{
    padding: 10px;
  }

  header .container .menu ul li:last-child{
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
  }
}

/* MAINS */

main .body .container{
  padding: 2rem 1rem;
  text-align: center;
}

main section .application:first-child{
  padding: 2rem 1rem 0 1rem;
}

main section .application{
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  background-color: lightblue;
  border-radius: 20px;
}

main section .application h3{
  color: dodgerblue;
}

main section .application p{
  margin: 2rem 2rem;
  text-align: left;
}  

main section .button{
  display: block;
  color:aliceblue;
  padding: 1rem;
  margin: 2rem;
  background-color: dodgerblue;
  border-radius: 20px;
}

main section img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}



/* FOOTERS */

footer .foot{
  text-align: center;
  color: aliceblue;
  background-color: rgb(129, 57, 129);
}

footer .foot2{
  text-align: center;
  color: aliceblue;
  background-color: #222222;
} 


.footer-top{
  height: 60vh;
  padding: 2rem;
}

footer .start{
  font-size: small;
  text-transform: uppercase;
  font-family: sans-serif,thin;
  padding: 1rem;
}

footer h1{
  font-size: 3rem;
  color: goldenrod;
  padding: 2rem;
}

footer h2{
  padding-top: 1rem;
}

footer .button{
  display: block;
  padding: 20px;
  background-color: aliceblue;
  color: rgb(129, 57, 129);
  border-radius: 30px;
  margin: 2rem;
}

footer .copy{
  font-size: small;
  font-family: sans-serif,thin;
}

.privacy{
  color: aliceblue;
}

footer .footer-bottom{
  height: 20vh;
  background-color: #222222;
}

footer .footer-bottom .up,
footer .footer-bottom .down{
  padding: 2rem;
  font-size: small;
  font-family: sans-serif,thin;
}

.down a{
  color: rgb(129, 57, 129);
}

@media (min-width: 780px){
  .footer-top,
  .footer-bottom{
    max-width: 550px;
    margin: 0 auto;
  }  
}

@media (min-width: 1000){
  .footer-top,
  .footer-bottom{
    max-width: 550px;
    margin: 0 auto;
  } 
}
